<!doctype html>
<html>
	<head>
		<title>Rich Text Editor</title>
		<script type="text/javascript">
			let oDoc, oDocElm, sDefTxt;

			const buildRule = (sel, rules) => {
				let outRule = `${sel} {`;

				for(let r in rules) {
					outRule += `${r}:${rules[r]};`;
				}

				return outRule += '}';
			}

			const clearTheme = (sheet) => {
				let i = sheet.cssRules.length-1;

				while( i >= 0 ) {
					sheet.deleteRule(i);
					i--;
				}
			}

			const changeDocTheme = (idx) => {
				const sheet = oDoc.styleSheets[1];
				const theme = themes[idx];

				clearTheme(sheet);

				for ( let rule in theme.rules ) {
					sheet.insertRule( buildRule( rule, theme.rules[rule] ));
				}
			}

			// intended for local tools popup support
			const initSelectionHandler = (doc) => {

			}

		</script>
	</head>
	<body>
		<!-- <div class="toolbar l--vertical">
			<div class="edit-item image-tray" data-tray="image"><i class="fas fa-image fa-2x"></i></div>
			<div class="edit-item"><i class="fas fa-code fa-2x"></i></div>
			<div class="edit-item" draggable=true><i class="fas fa-cubes fa-2x"></i></div>
			<div class='edit-item-sep'></div>
			<div class="edit-item"><i class="fas fa-table fa-2x"></i></div>
			<div class="edit-item"><i class="fas fa-columns fa-2x"></i></div>
			<div class="edit-item"><i class="far fa-object-ungroup fa-2x"></i></div>
		</div> -->

		<edgar-editor src="layout-three-column.html"></edgar-editor>

		<script type="module" src="js/loader.js"></script>
	</body>
</html>
