<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/editor-support.css" data-locked />
	<link rel="stylesheet" type="text/css" href="resources/themes/basic" integrity="sha256-ivouNTvfjxX7RJ9dsg9MASCjrVTfkzsAnjWkNLkTKd4" data-locked />
</head>

<body>
	<div class="grid">
		<header data-editable class="pg-header pg-cell"></header>
		<aside data-editable data-drop-target class="pg-main-sidebar-left pg-cell"></aside>
		<article data-editable data-drop-target class="pg-main-content pg-cell"></article>
		<aside data-editable data-drop-target class="pg-main-sidebar-right pg-cell"></aside>
		<footer data-editable data-drop-target class="pg-footer pg-cell"></footer>
	</div>
</body>

</html>
