.element {
	fill:rgba(0,0,0,0.5);
}

.icon {
	width:50px;
	margin:0 auto;
	display: block;
}

[data-container] {

}

[data-nav] {
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.1) inset;
}

[data-surface]{
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}



[data-list] {
	background-color:#ddd;

}

[data-list] [data-item] {
	background-color:#ccc;
	box-shadow:2px 2px 0 rgba(255,255,255,.7) inset, 1px 1px 2px rgba(0,0,0,.5);
}

[data-list] [data-item] svg{

}

[data-editor-container] {
	border:solid 1px rgba(0,0,0,0.2);
}

[data-editor] {

}

/* graph */

svg.graph {
	width:90%;
	height:250px;
	display:block;
	margin:0 auto;
}

svg.graph .set {
	fill: green;
}
