[data-container] {
	height:100%;

	display:flex;
	flex: 0 0 auto;
	flex-flow:column nowrap;
}

[data-column]{

	display:flex;
	flex: 1 0 auto;
	flex-flow:column wrap;

	&.detail{
		flex:3 0 auto;
	}
}

[data-row]{

	display:flex;
	flex: 1 1 auto;
	flex-flow:row nowrap;
}

[data-cell] {
	flex: 1 0 0;
}
